<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1">
  <title>Network Security Labs</title>
  <meta name="description" content="Network Security Labs">
  <meta name="author" content="Kenzie Clarke">

<link rel="stylesheet" href="/public/css/containers.css">
<link rel="stylesheet" href="/public/css/dashedshadow.css">
<link rel="stylesheet" href="/public/css/navbar.css">
<link rel="stylesheet" href="/public/css/text.css">
<link rel="stylesheet" href="/public/css/slider.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="/js/home.js"></script>

<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    
</head>

<body>
        
  <div class="ContentContainer">
    <div class="Content">
        <img src="/images/Network2.png" alt="Icon here" style="max-width: 50%; position: center">
        <span data-text="Network Security Labs" class="dashed-shadow hello">Network Security Labs</span>
      </div>
      <div class="navbar">
          <div class="navbar-centered">
              <a href="/index.html">Home </a>
              <a href="/keyexchange.html">Key Exchange</a>
              <a href="/symmetric.html">Symmetric </a>
              <a class="active" href="#">Asymmetric </a>
          </div>
      </div>
    </div>
    
    <!---BELOW HERE IS THE HOME PAGE SPECIFIC CONTENT--->
    <div class="ContentContainer" style="background-color: #5200cc; padding-bottom: 6vh; padding-top: 0px;">
                    <h3 style="color:white; text-align:  center; padding-top: 5vh">Asymmetric Encryption</h3>
                    <p class="white" style="line-height: normal; text-align: center; font-size: 3vw "> These algorithms split the secret key into two parts: the public key and the private key.</p> 
                    <img src="/images/asym.png" alt="Symmetric Encryption is great!" style="max-width: 80%; background-color: white">
    </div>
    <div class="ContentContainer" style="background-color: white">
        <div class="Content">
           <h2> RSA </h2>
            
            <h2> ECC </h2>
            
            <h2> ElGamal </h2>
            
        </div>
    </div>
    
</body>
</html>