<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1">
    <title>Network Security Labs</title>
    <meta name="description" content="Network Security Labs">
    <meta name="author" content="Kenzie Clarke">

    <link rel="stylesheet" href="/public/css/scrollparallax.css">
    <link rel="stylesheet" href="/public/css/dashedshadow.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    </head>
    <body>
        <div id="frame">
            <article>
                <div class="title">
                <img src="/images/Network2.png" width="50%"> 
                <span data-text="Network Security Labs" class="dashed-shadow hello">Network Security Labs</span>
                </div>
                <div class="navbar">
                    <div class="navbar-centered">
                      <a class="active" href="#">Home </a>
                      <a href="/keyexchange">Key Exchange</a>
                      <a  href="/symmetric">Symmetric </a>
                      <a href="/asymmetric">Asymmetric </a>
                    </div>
                </div>
                <div class="parallax">
                    <div class="bg_break" style="background-color: white;"> <br> </div>
                    <div class="bg__regular" style="background-image: url(/images/cyber.jpg);">
                    </div>
                </div>
                <div class="header">
                    <h1 style="">Encryption</h1>
                    <p>the process of encoding a message or information so that only authorized parties can access it and everyone else cannot. </p>
                </div>
                <div class="iframe-container">
                        <iframe width=70% height=300 src="https://www.youtube.com/embed/ERp8420ucGs?start=21"  allowfullscreen></iframe>
                    </div>
                <section>
                <div class="container">
                </div>
                </section>
                  <section class="parallax">
                    <div class="bg__break" style="height: 30vh; background-image: url(/images/encrypt.jpg);">
                    </div>
                  </section>
                  <section>
                    <h2 style="font-size: 4vw; text-align: center;"> Symmetric vs. Asymmetric(public key) </h2>
                    <p> Having watched the video, you now understand the difference between Symmetric encryption and Asymmetric  (public key). Here is a table of the modern encryption algorithms covered throughout these labs:<br> <br></p>
                    <table id="customers" align="center">
                    <tr> 
                        <th>Symmetric</th> 
                        <th> Asymmertric </th>
                    </tr>
                    <tr> 
                        <td> DES </td>
                        <td> RSA </td>
                    </tr>
                    <tr>
                        <td> AES </td>
                        <td> ECC </td>
                    </tr>
                    <tr> 
                        <td> RC4 </td>
                        <td> ElGamal </td>
                    </tr>
                    </table>
                <p style="padding-top: 5vw"> This lab covers a few different forms of modern encryption, as well as the Diffie Helman key exchange process. You will learn about that in the next section.</p>
        
                <!-- Insert Next Section Button-->
             </section>
    </article>
    </div>
 </body>