<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1">
  <title>Network Security Labs</title>
  <meta name="description" content="Network Security Labs">
  <meta name="author" content="Kenzie Clarke">

<link rel="stylesheet" href="/public/css/styles.css?v=1.0">
<link rel="stylesheet" href="/public/css/dashedshadow.css">
<link rel="stylesheet" href="/public/css/navbar.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
    
</head>

<body style="padding-top: 10px">
  <div class="ContentContainer" style="width: 100%">
    <div class="Content">
        <img src="/images/Network2.png" alt="Icon here" style="max-width: 50%; position: center">
        <span data-text="Network Security Labs" class="dashed-shadow hello">Network Security Labs</span>
      </div>
      <div class="navbar">
          <div class="navbar-centered">
              <a  href="/index.html">Home </a>
              <a href="/diffie-helman.html">D-H</a>
              <a  class="active" href="#">RSA </a>
              <a href="/des.html">DES </a>
              <a href="/aes.html"> AES</a>
          </div>
      </div>
    </div>
    
    <!---BELOW HERE IS THE RSA PAGE SPECIFIC CONTENT--->
    <div class="ParallaxContainer" style="background-color: #5200cc; transform: scale(1.3); margin-bottom: 10%">
            
        <div class="Content"> 
             <div class="row">
                <div class="column left small">
                    <p style="color: white; font-size: 3vw; line-height: 5vw">What is RSA?</p>
                </div>
                <div class="column right medium">
                    <p class="white" style="font-size: 2vw; line-height: normal; text-align: left;"> RSA (Rivest-Shamir-Adleman) is one of the 1st public-key cryptosystems. It's used today to secure data transmissions.</p> 
                </div>
            </div>
        <iframe width=600vw height=350vw src="https://www.youtube.com/embed/M7kEpw1tn50" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>
        </div>
    </div>
    <div class="ContentContainer" style="background-color: white">
        <div class="Content">
            <img src="/images/Network2.png" alt="Icon here" style="max-width: 50%; position: center">
        <span data-text="Network Security Labs" class="dashed-shadow ">Network Security Labs</span>
        </div>
    </div>
</body>
</html>