<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1">
	<title>Network Security Labs</title>
	<meta name="description" content="Network Security Labs">
	<meta name="author" content="Kenzie Clarke">

	<link rel="stylesheet" href="/css/scrollparallax.css">
	<link rel="stylesheet" href="/css/dashedshadow.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	<script src="/js/slider.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
</head>

    <body>
        <div id="frame">
            <article>
                <div class="title">
                <img src="/images/Network2.png" width="50%">  
                <span data-text="Network Security Labs" class="dashed-shadow hello">Network Security Labs</span>
                </div>
                <div class="navbar">
                    <div class="navbar-centered">
                      <a href="/index">Home </a>
                      <a href="/keyexchange"> Key Exchange</a>
                      <a  class="active" style="background-color: white" href="#">Symmetric </a>
                      <a href="/asymmetric">Asymmetric </a>
                    </div>
                </div>
                <div class="parallax">
                    <div class="bg_break" style="background-color: white;"> <br> </div>
                    <div class="bg__regular" style="background-image: url(/images/cyber.jpg);">
                    </div>
                </div>
                <div class="header">
                    <h1>Symmetric Encryption</h1>
                    <p>These algorithms use only one (secret) key to both encrypt and decrypt information. </p>
                </div>
              <img src="/images/sym.png" width="80%" style="display: block; margin: auto; padding-top: 5vw;">
                  <section class="parallax">
                    <div class="bg__break" style="height: 30vh; background-image: url(/images/encrypt.jpg);">
                    </div>
                  </section>
                  <section>
                    <h2> DES </h2>
            <p2>The most widely used algorithm in the world, DES was born of the NSA's  (United States National Security Agency) need for a secure cryptographic algorithm in 1977. DES has since been cracked by brute force, as it's key length is only 56 bits. However, it lives on in the upgraded form of 3DES. We'll discuss that later. <br><br> For now, let's take a look at the original DES algorithm: <br><br> </p2>
            
            <img src="/images/des_structure.jpg" alt="DES Encryption is great!" class="center" style="width: 80%; display: block;">
            
            <p2> <br> DES is a block cipher, which means that it operates on 64 bit plaintext blocks and returns ciphertext blocks of the same size. Hence DES creates a permutation among the 2^64 possible arrangements of 64 bits, each being either 0 or 1. <br><br> DES divides each block of 64 bits into two blocks of 32 bits each, a left half block L and a right half R. It uses these divided blocks in part of it's operation. After an initial permutation, the encoding process is broken down into 16 "rounds" of encryption. Each round performs the DES function f on the blocks:<br><br> </p2>
            
            <img src="/images/round_function.jpg" alt="DES Encryption is great!" class="center" style="width: 60%; display: block;">
            
            <p2> This hodge-podge of operations includes 4 different steps: 
                <ol>
                <li> The Expansion P-box</li>
                <li> Exclusive OR Operation with the 48 bit key</li>
                <li> Permutation with the S-Boxes</li>
                <li> The Straight P-box</li>
                </ol>
            </p2> 
           
                <!-- Insert Next Section Button-->
                <a href="/asymmetric" > <button type="button" class="btn btn-dark" id="next" style="float: right" > Next </button> </a>  
             </section>
    </article>
    </div>
 </body>
</html>