html,
body {
  scroll-behavior: smooth;
  max-width: 100%;

}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
  background-size: cover;

}

.Content {
  max-width: 90%;
  margin: 0 auto;
  padding: 5px 0;
}

.column {
  margin: 0 2vw;
}

.left {
  float: left;
}

.small {
  padding-top: 10%;
  padding-left: 10%;
  width: 20%;
}

.medium {
  padding-top: 10%;
  padding-right: 5%;
  width: 55%;
}

.right {
  float: right;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  height: 80vw;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url('https://fonts.googleapis.com/css?family=Abel:400,800');

#customers {
  font-family: Abel;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 30px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5200cc;
  color: white;
  font-size: 30px;
}