body {
  color: purple;
}

h1 {
  letter-spacing: -15px;
  font-family: Open Sans;
  color: purple;
  text-align: center;
  font-size: 200px;
  font-weight: 800;
  line-height: 200px;
}

h2 {
  letter-spacing: -15px;
  font-family: Open Sans;
  color: #5200cc;
  text-align: center;
  font-size: 200px;
  font-weight: 800;
  line-height: 200px;
}

p2 {
  letter-spacing: -15px;
  font-family: Open Sans;
  color: #5200cc;
  text-align: center;
  font-size: 100px;
  font-weight: 200;
  line-height: 200px;
}