.navbar {
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.navbar a {
    font-family: Abel;
    float: center;
    display: inline;
    color: #5200cc;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 30px;
}

.navbar a:hover {
    color: grey;
}

.navbar a.active {
    text-decoration: overline;
}