h1 {
  letter-spacing: -15px;
  font-family: Open Sans;
  color: white;
  text-align: center;
  font-size: 200px;
  font-weight: 800;
  line-height: 200px;
}
h2{
  letter-spacing: -15px;
  font-family: Open Sans;
  color: #5200cc;
  text-align: center;
  font-size: 200px;
  font-weight: 800;
  line-height: 200px;
}
p {
  margin: 5vw 0;
  color: white; 
  font-size: 3vw; 
  line-height: 5vw
  }

p.white {
    color: white;
    font-size: 50px;
    font-family: monospace;
}
p2{
  letter-spacing: -15px;
  font-family: Open Sans;
  color: #5200cc;
  text-align: center;
  font-size: 100px;
  font-weight: 200;
  line-height: 200px; 
}